
.build-page {
  background-image: url('/background/background-image.jpeg');
  background-size: cover;
  color: #fff;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  color: yellow;
  font-size: 36px;
}

h2 {
  color: yellow;
  font-size: 28px;
  margin-top: 20px;
}

h3 {
  color: silver;
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.character-stats-box {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid silver;
  margin-bottom: 20px;
}

.character-stats-box ul li strong {
  color: #00BFFF;
}

.gear-section ul li strong {
  color: yellow;
}
